{% extends 'base.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div id="chartdiv"></div>
<div class="row">
	<form class="col s12">
		<div class="row">
			<nav>
				<div class="nav-wrapper col s12">
					<form>
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</nav>
		</div>
		<div class="row">
			<div class="switch col s6">
				<label>
					Twitter
					<input type="checkbox" name="social" value="twitter" checked="checked" id="twitterButton">
					<span class="lever"></span>
				</label>
			</div>
			<div class="switch col s6">
				<label>
					Facebook
					<input type="checkbox" name="social" value="facebook" checked="checked" id="facebookButton">
					<span class="lever"></span>
				</label>
			</div>
		</div>
		<div class="row">
			<p class="col s6">
				<input type="checkbox" name="social" value="SMC_ASSE" class="choosenMatch" id="SMC_ASSE" checked="checked">
				<label for="SMC_ASSE">Match SMC / ASSE</label>
			</p>
			<p class="col s6">
				<input type="checkbox" name="social" value="ASNL_SMC" class="choosenMatch" id="ASNL_SMC" checked="checked">
				<label for="ASNL_SMC">Match ASNL / SMC</label>
			</p>
			<p class="col s6">
				<input type="checkbox" name="social" value="ASNL_SMC2" class="choosenMatch" id="ASNL_SMC2" checked="checked">
				<label for="ASNL_SMC2">Match ASNL / SMC (CDL)</label>
			</p>
			<p class="col s6"> 
				<input type="checkbox" name="social" value="SMC_OGN" class="choosenMatch" id="SMC_OGN" checked="checked">
				<label for="SMC_OGN">Match SMC / OGN</label>
			</p>
		</div>
		<div class="row">
			<button class="btn waves-effect waves-light right" type="submit" name="action" id="submit">Envoyer
				<i class="material-icons right">send</i>
			</button>
		</div>
	</form>
</div>
<div class="row">
	<div class="col s6">
		<h2 class="header" id ="twitterHeader"></h2>
		<ul class="collection" id="collectionTweets">
		</ul>
	</div>
	<div class="col s6">
		<h2 class="header" id ="facebookHeader"></h2>
		<ul class="collection" id="collectionComments">
		</ul>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
	var chart;
	var legend;

	var chartData = [
	{
		"sentiment": "Positif",
		"value": {{ feelings.ALL.twitter.pos +  feelings.ALL.facebook.pos }}
	},
	{
		"sentiment": "Neutre",
		"value": {{ feelings.ALL.twitter.neutral +  feelings.ALL.facebook.neutral }}
	},
	{
		"sentiment": "Négatif",
		"value": {{ feelings.ALL.twitter.neg +  feelings.ALL.facebook.neg }}
	},
	];

	AmCharts.ready(function () {
        // PIE CHART
        chart = new AmCharts.AmPieChart();
        chart.dataProvider = chartData;
        chart.titleField = "sentiment";
        chart.valueField = "value";
        chart.outlineColor = "#FFFFFF";
        chart.outlineAlpha = 0.8;
        chart.outlineThickness = 2;
        chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
        // this makes the chart 3D
        chart.depth3D = 15;
        chart.angle = 30;

        // WRITE
        chart.write("chartdiv");
    });

	function listAllTweetsAndComments(keyWord,twitter,facebook,matchArray){
		//compteur de résultat:
		let twitterFound = 0;
		let facebookFound = 0;
		//préparation de la request de recherche:
		let research = keyWord.toLowerCase().split(" ");
		let results = [];
		let resultsToDisplay = [];
		//Nettoyage du contenu à chaque requête:
		$("#collectionTweets").empty();
		$("#twitterHeader").empty();
		$("#collectionComments").empty();
		$("#facebookHeader").empty();

		//Twitter:
		if (twitter){
			{% for tweet in tweets %}
				match = "{{ tweet.match }}";
				if( matchArray.indexOf(match) != -1 ) {
					let tweetMsg = '{{ tweet.message|replace({"\n":" ", "\r":" ", "'":"\'"}) }}';
					let tweetMatch = '<br/>{{ tweet.match }}';
					let createdTime = "<br/>" + '{{ tweet.created_time }}'.split(" ")[0] + " " + '{{ tweet.created_time }}'.split(" ")[2]+ " " + '{{ tweet.created_time }}'.split(" ")[1]+ " " + '{{ tweet.created_time }}'.split(" ")[5] + " "+ '{{ tweet.created_time }}'.split(" ")[3];
					{% if tweet.feeling == "pos" %}
					let feelingTweet ='<i class="petite material-icons right">thumb_up</i>';
					{% endif %}
					{% if tweet.feeling == "neutral" %}
					let feelingTweet ='<i class="petite material-icons right">thumbs_up_down</i>';
					{% endif %}
					{% if tweet.feeling == "neg" %}
					let feelingTweet ='<i class="petite material-icons right">thumb_down</i>';
					{% endif %}
					//Recherche Twitter (avec verif des doublons):
					for (let index in research) {
						if (tweetMsg.toLowerCase().indexOf(research[index]) !== -1) {
							if (twitterFound === 0) { //premier match
								twitterFound++;
								results.push(tweetMsg);
								resultsToDisplay.push(tweetMsg + feelingTweet + tweetMatch + createdTime);
							} else { //match à vérifier
								let isNew = true; 
								for (let index in results) {
									if (tweetMsg == results[index]) {
										isNew = false;
										break;
									}
								}
								if (isNew) { //pas un doublon
									twitterFound++;
									results.push(tweetMsg);
									resultsToDisplay.push(tweetMsg+feelingTweet + tweetMatch + createdTime);
								} else {
								}
							}
							break; //Si au moins une occurence du terme de recherche est trouvé on affiche
						}
					}
				}
			{% endfor %}
			//Affichage Twitter sans doublon:
			for (let index in resultsToDisplay) {
				$("#collectionTweets").append("<li class='collection-item'>"+resultsToDisplay[index]+"</li>");
			}

			//Affichage header and result Twitter:
			if (twitterFound === 0) {
				$("#twitterHeader").append("<h4>Tweets</h4>");
				$("#collectionTweets").append("<li class='collection-item'>Aucune donnée twitter trouvée</li>");
			} else {
				$("#twitterHeader").append("<h4>Tweets (Trouvé "+twitterFound+" resultats)</h4>");
			}
		}
		//Facebook:
		if (facebook) {
			{% for comment in comments %}
			match = "{{ comment.match }}";
			if( matchArray.indexOf(match) != -1 ) {
				let commentMsg = '{{ comment.message|replace({"\n":" ", "\r":" ", "'":"\'"}) }}';
				let tweetMatch = '<br/>{{ tweet.match }}';
				let createdTime = '{{ tweet.created_time }}';

				{% if comment.feeling == "pos" %}
				let feelingComment ='<i class="petite material-icons right">thumb_up</i>';
				{% endif %}
				{% if comment.feeling == "neutral" %}
				let feelingComment ='<i class="petite material-icons right">thumbs_up_down</i>';
				{% endif %}
				{% if comment.feeling == "neg" %}
				let feelingComment ='<i class="petite material-icons right">thumb_down</i>';
				{% endif %}
			//Recherche Facebook:
			for (let index in research) {
				if (commentMsg.toLowerCase().indexOf(research[index]) !== -1) {
					facebookFound++;
					$("#collectionComments").append("<li class='collection-item'>"+commentMsg+feelingComment + tweetMatch + createdTime+"</li>");
					break; //Si au moins une occurence du terme de recherche est trouvé on affiche
				}
			}
			}
			{% endfor %}
			//Affichage header and result Facebook:
			if (facebookFound === 0) {
				$("#facebookHeader").append("<h4>Commentaires Facebook</h4>");
				$("#collectionComments").append("<li class='collection-item'>Aucune donnée facebook trouvée</li>");
			} else {
				$("#facebookHeader").append("<h4>Commentaires Facebook (trouvé "+facebookFound+" resultats)</h4>");
			}
		}
	}

	//prevent click on submit and change data
	var submit = document.querySelector("#submit");
	submit.onclick = function(event) {
		event.preventDefault();
	    let keyWord = document.getElementById('search').value;
	    let facebook = document.querySelector("#twitterButton").checked;
	    let twitter = document.querySelector("#facebookButton").checked;
	    let choosenMatch = document.querySelectorAll(".choosenMatch");
	    let matchArray = [];

	    for ( let match in choosenMatch ) {
	    	if (choosenMatch[match].checked){
	    		matchArray.push(choosenMatch[match].getAttribute("value"));
	    	}
	    }
	    listAllTweetsAndComments(keyWord,twitter,facebook,matchArray);
	}

	//prevent press enter on search field and change data
	$("#search").on('keydown', function (event) {
	    if (event.keyCode == 13) {
	    	event.preventDefault();
	    	console.log("toto");
		    let keyWord = document.getElementById('search').value;
		    let facebook = document.querySelector("#twitterButton").checked;
		    let twitter = document.querySelector("#facebookButton").checked;
		    let choosenMatch = document.querySelectorAll(".choosenMatch");
		    let matchArray = [];

		    for ( let match in choosenMatch ) {
		    	if (choosenMatch[match].checked){
		    		matchArray.push(choosenMatch[match].getAttribute("value"));
		    	}
		    }
		    listAllTweetsAndComments(keyWord,twitter,facebook,matchArray);
	    }
	});


</script>
{% endblock %}